// déclarartion des variables
$color-primary:rgb(147, 86, 220);
$color-secondary:rgb(255, 121, 218);
$color-third:#99e2d0;
$body_couleur: #ffffff;


$ul-writing-style:'https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&family=Roboto&family=Shrikhand&display=swap';
$logo-titre:Shrikhand;
$text:Roboto;