//importer les variables variables
@import '../layouts/variables.scss';
@import '../style.scss';


/* version smartphone */
// bloc presentation
//loading spinner
.body-loading {
    background: rgba($color: #C0C0C0, $alpha: 0.7);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    animation: show_body_loading 2s;

    @keyframes show_body_loading {
        0% {visibility: visible;}
        100%{visibility: hidden;}
    }

    .loading-spinner {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
    }
    
    .loading-spinner div {
        position: absolute;
        border: 4px solid $color-primary;
        opacity: 1;
        border-radius: 50%;
        animation: loading-spinner 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    }
      
    .loading-spinner div:nth-child(2) {
        animation-delay: -0.5s;
    }
    
    @keyframes loading-spinner {
        0% {
          top: 36px;
          left: 36px;
          width: 0;
          height: 0;
          opacity: 0;
        }
        4.9% {
          top: 36px;
          left: 36px;
          width: 0;
          height: 0;
          opacity: 0;
        }
        5% {
          top: 36px;
          left: 36px;
          width: 0;
          height: 0;
          opacity: 1;
        }
        100% {
          top: 0px;
          left: 0px;
          width: 72px;
          height: 72px;
          opacity: 0;
        }
      }
      
}

// déclarer mixin avec les propriétés des boutons et leurs animations
@mixin button-animation{
            border-radius: 1.5rem;
            background: $color-primary;
            background: linear-gradient(0deg,$color-primary 0%,
            $color-secondary 100%);
            box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
            font-size: 1rem;
            border: none;
            cursor: pointer;
            color: white;
            transition: all 1s;
          
        }

// bloc presentation
.call-to-action{
    background: #f6f6f6f6;
    text-align: center;
    padding-top: 2.75rem;
    padding-bottom: 3.5rem;
    p{
        font-size: 1.1rem;
        margin: 1.5rem 0;
    }

    button{
        margin-top: 0.5rem;
        padding: 1rem 1.5rem;
        @include button-animation;
        &:hover {
            opacity: 0.7;
            box-shadow: 0 5px 5px rgba(0, 0, 0, 0.8);
        }
    }
}

// bloc fonctionnement
.navigation{
    padding: 3rem 1.25rem;         
    ul {
        margin-top: 2.75rem;
        list-style: none;
        li {
            margin-bottom: 1.5rem;
            &:last-child {
            margin-bottom: 0; // dernier élément ne contient pas margin-bottom
                }
            a {
                text-decoration: none;
                color: black;
                display: flex;
                align-items: center;
                .circle-base{
                    background: $color-primary;
                    border-radius: 100%;
                    width: 1.5rem;
                    height: 1.5rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    z-index: 1000;
                }
                .classement{
                    font-size: 0.8rem;
                    font-weight: bold;
                    color: white;
                }
                .icone-et-tache{
                    background: #f6f6f6;
                    box-shadow: 0 5px 5px #ececec;
                    border-radius: 15px;
                    align-items: center;
                    margin-left: -0.7rem;
                    width: 100%;
                    padding-top: 1.75rem;
                    padding-bottom: 2rem;
                    display: flex;
                    &:hover {
                        background: #f5edff;
                        .icone-fonction {
                            color: $color-primary;
                        }             
                    }
                    .icone-fonction{
                        margin-right: 1rem;
                        margin-left: 1.5rem;
                        color: #7e7e7e;
                    }                   
                    p{
                        font-size: 1rem;
                        font-weight: bold;
                    }
                }
            }
        }
    }  
}
        
// bloc des différents plats

/* déclarer le mixin qui correspond aux propropriété de l'animation du coeur*/
@mixin animation-heart{
    margin-left: auto;
    position: relative;

    i {
        height: 1.5rem;
    }
    .fa-regular{
        display: block;
    }
    .fa-sharp{
        position: absolute;
        top: 0;
        left:0;
        opacity: 0;
        background-clip: text;
        color: transparent;
        background-image: linear-gradient(0deg,$color-secondary 0%,
        $color-primary 100%);
        transition: all 0.5s;
             
    }
    &:hover {
        .fa-regular{
            opacity: 0;
        }
        .fa-sharp{
            opacity: 1;
            transform: scale(1.1);
        }                
    }
}

.articles {
    background:#f6f6f6;
    padding: 3.7rem 1.25rem 4rem 1.25rem;
    
    h2 {
        margin-bottom: 1.8rem;
    }

    article {
        display: flex;
        flex-wrap: wrap;
        margin-left: -0.5rem;
        margin-right: -0.5rem;
        padding: 5px;
    
        .card {
            width: 100%;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            margin-bottom: 1rem;
        
            .card-content {
                position: relative;
                overflow: hidden;
                box-shadow: 0 5px 5px #ececec;
                border-radius: 1rem ;
                background: #ffffff;

                .badge {
                    background-color: $color-third;
                    position: absolute;
                    top: 0.75rem;
                    right: 0.75rem;
                    padding: 0.5rem 1rem;
                    border-radius: 0.25rem;
                    color: #008766;
                    font-weight: bold;
                }

                .card-img {
                    display: block;
        
                    img {
                        display: block;
                        height: 174px;
                        width: 100%;
                        object-fit: cover;
                        object-position: bottom center;
                    } 
                }

                .card-body {
                    padding: 1rem;
                    display: flex;
        
                    .card-text {
                        p{
                            font-size: 14px;
                        }
                    }
                    .wish-list-icon {
                        @include animation-heart; // inclure le mixin qui correspond aux propropriété de l'animation du coeur
                    }
                }
            }
        }
    }//end card-content 
}

/* version tablette */
@media screen and (min-width:768px){
     // bloc presentation
    .call-to-action{
        background: $body_couleur;  
    }

    .navigation{
        background: #f6f6f6f6;

        h2 {
            text-align: center;
        }

        ul {
            display: flex;
            margin-left: -0.5rem;
            margin-right: -0.5rem;
            li {
                padding-left: 0.5rem;
                padding-right: 0.5rem;  
                flex:1 1 0;

                a{
                flex-direction: column;   
                    .circle-base{
                        margin-bottom: -1rem;
                    }
                    .icone-et-tache{
                       background: white;
                       flex-direction: column;
                       
                       .p-text{
                        margin-top: 1rem;
                       }
                    }
                }
            }  
        }
    }

    .articles{
        background:$body-couleur;

        h2 {
            text-align: center;
        }

        article {       
            .card {
                width: 50%;
                margin-bottom: 1rem;                   
            }
        }
    }
}

/* version Desktop */
@media screen and (min-width:992px){
    section{
        .navigation{
            ul{
                li{
                    a{
                        .icone-et-tache{
                            flex-direction: row;
                            align-items: flex-end;
                            justify-content: space-evenly;
                        }
                    }
                }
            }
        }
        .articles{
            article{
                .card { 
                    width:25%;
                }
            }
        }
    }
}   
