/* version smartphone */

.header-container{
    background: #eaeaea;
}
.logo-container{
background: #ffffff;
padding-top: 1.4rem;
padding-bottom: 0.75rem;
box-shadow: 0 4px 4px #cfcfcf;
img{
    height:30px; 
    display: block;
    margin: auto;
    }
}
// bloc localisation
.localisation-container{
    padding-top: 1rem;
    padding-bottom: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #353535;
    .localisation-icone{
        width: 0.75rem;
        height: 1rem;
        display: block;
        margin-right: 1rem;
    }
    input{
        margin-left: 1rem;
        font-size: 1rem;
        font-weight: bold;
        background: none;
        border: none;
        max-width: 140px;
        &:focus{
            outline: none; // en tapant le nom de ville souhaité,le placeholder et le border ne d'apparaissent plus
        }
    }
}

