@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&family=Roboto&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffffff;
  font-family: "Roboto", sans-serif;
}

/* version smartphone */
.body-loading {
  background: rgba(192, 192, 192, 0.7);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  -webkit-animation: show_body_loading 2s;
          animation: show_body_loading 2s;
}
@-webkit-keyframes show_body_loading {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
@keyframes show_body_loading {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
.body-loading .loading-spinner {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.body-loading .loading-spinner div {
  position: absolute;
  border: 4px solid rgb(147, 86, 220);
  opacity: 1;
  border-radius: 50%;
  -webkit-animation: loading-spinner 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
          animation: loading-spinner 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.body-loading .loading-spinner div:nth-child(2) {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}
@-webkit-keyframes loading-spinner {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
@keyframes loading-spinner {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.call-to-action {
  background: rgba(246, 246, 246, 0.9647058824);
  text-align: center;
  padding-top: 2.75rem;
  padding-bottom: 3.5rem;
}
.call-to-action p {
  font-size: 1.1rem;
  margin: 1.5rem 0;
}
.call-to-action button {
  margin-top: 0.5rem;
  padding: 1rem 1.5rem;
  border-radius: 1.5rem;
  background: rgb(147, 86, 220);
  background: linear-gradient(0deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  font-size: 1rem;
  border: none;
  cursor: pointer;
  color: white;
  transition: all 1s;
}
.call-to-action button:hover {
  opacity: 0.7;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.8);
}

.navigation {
  padding: 3rem 1.25rem;
}
.navigation ul {
  margin-top: 2.75rem;
  list-style: none;
}
.navigation ul li {
  margin-bottom: 1.5rem;
}
.navigation ul li:last-child {
  margin-bottom: 0;
}
.navigation ul li a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
}
.navigation ul li a .circle-base {
  background: rgb(147, 86, 220);
  border-radius: 100%;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.navigation ul li a .classement {
  font-size: 0.8rem;
  font-weight: bold;
  color: white;
}
.navigation ul li a .icone-et-tache {
  background: #f6f6f6;
  box-shadow: 0 5px 5px #ececec;
  border-radius: 15px;
  align-items: center;
  margin-left: -0.7rem;
  width: 100%;
  padding-top: 1.75rem;
  padding-bottom: 2rem;
  display: flex;
}
.navigation ul li a .icone-et-tache:hover {
  background: #f5edff;
}
.navigation ul li a .icone-et-tache:hover .icone-fonction {
  color: rgb(147, 86, 220);
}
.navigation ul li a .icone-et-tache .icone-fonction {
  margin-right: 1rem;
  margin-left: 1.5rem;
  color: #7e7e7e;
}
.navigation ul li a .icone-et-tache p {
  font-size: 1rem;
  font-weight: bold;
}

/* déclarer le mixin qui correspond aux propropriété de l'animation du coeur*/
.articles {
  background: #f6f6f6;
  padding: 3.7rem 1.25rem 4rem 1.25rem;
}
.articles h2 {
  margin-bottom: 1.8rem;
}
.articles article {
  display: flex;
  flex-wrap: wrap;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  padding: 5px;
}
.articles article .card {
  width: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-bottom: 1rem;
}
.articles article .card .card-content {
  position: relative;
  overflow: hidden;
  box-shadow: 0 5px 5px #ececec;
  border-radius: 1rem;
  background: #ffffff;
}
.articles article .card .card-content .badge {
  background-color: #99e2d0;
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  color: #008766;
  font-weight: bold;
}
.articles article .card .card-content .card-img {
  display: block;
}
.articles article .card .card-content .card-img img {
  display: block;
  height: 174px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom center;
     object-position: bottom center;
}
.articles article .card .card-content .card-body {
  padding: 1rem;
  display: flex;
}
.articles article .card .card-content .card-body .card-text p {
  font-size: 14px;
}
.articles article .card .card-content .card-body .wish-list-icon {
  margin-left: auto;
  position: relative;
}
.articles article .card .card-content .card-body .wish-list-icon i {
  height: 1.5rem;
}
.articles article .card .card-content .card-body .wish-list-icon .fa-regular {
  display: block;
}
.articles article .card .card-content .card-body .wish-list-icon .fa-sharp {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  background-image: linear-gradient(0deg, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 100%);
  transition: all 0.5s;
}
.articles article .card .card-content .card-body .wish-list-icon:hover .fa-regular {
  opacity: 1;
}
.articles article .card .card-content .card-body .wish-list-icon:hover .fa-sharp {
  opacity: 1;
  transform: scale(1.1);
}

/* version tablette */
@media screen and (min-width: 768px) {
  .call-to-action {
    background: #ffffff;
  }
  .navigation {
    background: rgba(246, 246, 246, 0.9647058824);
  }
  .navigation h2 {
    text-align: center;
  }
  .navigation ul {
    display: flex;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
  }
  .navigation ul li {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    flex: 1 1 0;
  }
  .navigation ul li a {
    flex-direction: column;
  }
  .navigation ul li a .circle-base {
    margin-bottom: -1rem;
  }
  .navigation ul li a .icone-et-tache {
    background: white;
    flex-direction: column;
  }
  .navigation ul li a .icone-et-tache .p-text {
    margin-top: 1rem;
  }
  .articles {
    background: #ffffff;
  }
  .articles h2 {
    text-align: center;
  }
  .articles article .card {
    width: 50%;
    margin-bottom: 1rem;
  }
}
/* version Desktop */
@media screen and (min-width: 992px) {
  section .navigation ul li a .icone-et-tache {
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-evenly;
  }
  section .articles article .card {
    width: 25%;
  }
}
section {
  background: #f6f6f6;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  margin-top: -50px;
  position: relative;
  padding: 2.5rem 0.7rem 3rem 0.8rem;
}
section .title-container {
  display: flex;
  align-items: center;
  flex: 1 1 0;
  padding-right: 2rem;
}
section .title-container h2 {
  margin-left: 0.5rem;
  font-family: Shrikhand;
}
section .title-container .wish-list-icon {
  margin-left: auto;
  position: relative;
}
section .title-container .wish-list-icon i {
  height: 1.5rem;
}
section .title-container .wish-list-icon .fa-regular {
  display: block;
}
section .title-container .wish-list-icon .fa-sharp {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  background-image: linear-gradient(0deg, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 100%);
  transition: all 0.5s;
}
section .title-container .wish-list-icon:hover .fa-regular {
  opacity: 1;
}
section .title-container .wish-list-icon:hover .fa-sharp {
  opacity: 1;
  transform: scale(1.1);
}
section .body-container {
  margin-top: 2rem;
}
section .body-container article {
  margin-top: 2.5rem;
  overflow: hidden;
  padding: 10px;
  -webkit-animation: slidefood 2s;
          animation: slidefood 2s;
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
section .body-container article:first-child {
  margin-top: 0;
}
@-webkit-keyframes slidefood {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slidefood {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
section .body-container article.first-article {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
section .body-container article.second-article {
  -webkit-animation-delay: 250ms;
          animation-delay: 250ms;
}
section .body-container article.sethirdcond-article {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}
section .body-container article .title {
  padding-left: 0.5rem;
  text-transform: uppercase;
}
section .body-container article .title:after {
  display: block;
  content: "";
  height: 2px;
  width: 40px;
  background: #99e2d0;
  margin: 0.5rem 0;
}
section .body-container article .items {
  display: flex;
  flex-direction: column;
  margin: -1rem -1rem 0.5rem -1rem;
}
section .body-container article .items .item {
  display: flex;
  flex: 1 1 0;
  padding: 1rem;
}
section .body-container article .items .item .item-content {
  display: flex;
  flex: 1 1 0;
  border-radius: 15px;
  background: #ffffff;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
section .body-container article .items .item .detail {
  flex: 1 1 0;
  overflow: hidden;
  padding: 16px 24px 10px 12px;
}
section .body-container article .items .item .detail h3 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
section .body-container article .items .item .detail .detail-text-price {
  display: flex;
  margin-top: 0.5rem;
  overflow: hidden;
}
section .body-container article .items .item .detail .detail-text-price .text-detail {
  white-space: nowrap; /* Empeche le texte de retourner à la ligne */
  overflow: hidden; /* Masquer le texte qui dépasse la limite de la ligne */
  text-overflow: ellipsis; /* Remplacer la partie non visible du texte par ...*/
  font-size: 13px;
  flex: 1 1 0;
}
section .body-container article .items .item .detail .detail-text-price .price {
  font-weight: bold;
  margin-left: 2rem;
}
section .body-container article .items .item .badge_animation {
  display: flex;
  background: #99e2d0;
  width: 0;
  transition: width 0.5s linear;
}
section .body-container article .items .item .badge_animation i {
  color: #ffffff;
  font-size: 25px;
  margin: auto;
  transform: rotate(90deg);
  transition: transform 0.5s linear;
}
section .body-container article .items .item:hover .badge_animation {
  width: 59px;
}
section .body-container article .items .item:hover i {
  transform: rotate(0deg);
}
section button {
  margin: 3rem auto 0;
  display: block;
  padding: 1rem 3rem;
  border-radius: 1.5rem;
  background: rgb(147, 86, 220);
  background: linear-gradient(0deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  font-size: 1rem;
  border: none;
  cursor: pointer;
  color: white;
  transition: all 1s;
}
section button:hover {
  opacity: 0.7;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.8);
}

@media screen and (min-width: 768px) {
  section {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background: #ffffff;
  }
  section .title-container {
    max-width: 50%;
    margin: auto;
  }
  section .body-container article .items .item .item-content {
    background: #f6f6f6;
  }
}
@media screen and (min-width: 992px) {
  section .body-container article .items {
    flex-direction: row;
  }
}/*# sourceMappingURL=container-menu.css.map */