// version smartphone
.header-container{
    background: #f6f6f6f6;
}

.header-container{
    .top-header{
        padding-top: 1.4rem;
        padding-bottom: 0.75rem;
        display: flex;
        align-items: center;
        a{
            text-decoration: none;
            color: black;
          i{
            display: block;
            height: 1.2rem;
            margin-left: 1.3rem;
        }  
        }
        
        .logo-container{
            flex: 1 1 0;
            height: 30px;
                img{
                    display: block;
                    margin: auto;
                }
            }
    }
    .end-header {
        img {
                height: 258px;
                width: 100%;
                object-fit: cover;
        }
        
    }
}




